@using DNSLab.Web.Enums
@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" @ref="_MudThemeProvider" IsDarkMode="_IsDarkMode" />

<MudRTLProvider RightToLeft="GlobalSettings.RightToLeft">
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <CascadingAuthenticationState>
            <AppBar MenuOnClick="(()=>_NavMenu.DrawerToggle())" DarkModeChanged="DarkModeOnChange" />
            <NavMenu @ref="_NavMenu" />
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Class="py-5">
                    @Body
                </MudContainer>
            </MudMainContent>
        </CascadingAuthenticationState>
    </MudLayout>
</MudRTLProvider>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme? _theme = null;
    private NavMenu _NavMenu;
    private MudThemeProvider _MudThemeProvider;
    private bool _IsDarkMode;
    private DarkModeEnum _DarkMode;

    private async Task OnSystemPreferenceChanged(bool newValue)
    {
        if (_DarkMode == DarkModeEnum.Auto)
        {
            _IsDarkMode = newValue;
            await InvokeAsync(StateHasChanged);
        }
    }

    async Task DarkModeOnChange(DarkModeEnum darkMode)
    {
        _DarkMode = darkMode;
        if (darkMode == DarkModeEnum.Auto)
        {
            _IsDarkMode = await _MudThemeProvider.GetSystemDarkModeAsync();
            await InvokeAsync(StateHasChanged);
        }
        else
        {
            _IsDarkMode = darkMode == DarkModeEnum.Dark;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _MudThemeProvider.WatchSystemDarkModeAsync(OnSystemPreferenceChanged);
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        string[] boldFontFamily = { "vazir-bold" };
        _theme = new()
            {
                Typography = new Typography()
                {
                    Default = new DefaultTypography()
                    {
                        FontFamily = ["vazir-regular"]
                    },
                    H1 = new H1Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.375rem + 1.5vw)"
                    },
                    H2 = new H2Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.325rem + .9vw)"
                    },
                    H3 = new H3Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.3rem + .6vw)"
                    },
                    H4 = new H4Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.275rem + .3vw)"
                    },
                    H5 = new H5Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "1.25rem"
                    },
                    H6 = new H6Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "1rem"
                    },
                    Body1 = new Body1Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = ".813rem"
                    },
                },
                PaletteLight = _lightPalette,
                PaletteDark = _darkPalette,
                LayoutProperties = new LayoutProperties()
            };
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#1d1e22",
            Background = "#f9f7f3",
            Surface = "#ffffff",
            AppbarBackground = "#f9f7f3",
            AppbarText = "#717171",
            DrawerBackground = "#f9f7f3",
            DrawerText = "#717171",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",
            Primary = "#1d1e22",
            Secondary = "#ff8e5e",
            Info = "#84d6d7",
            Success = "#ccf095",
            Warning = "#ebb29a",
            Error = "#d95f5f",
            SuccessContrastText = "#4f5f1f",
            SuccessDarken = "#4f5f1f",
        };

    private readonly PaletteDark _darkPalette = new()
        {
            Black = "#d1d5db",
            Background = "#0a0f14",
            Surface = "#1c1f26",
            AppbarBackground = "#0a0f14",
            AppbarText = "#d1d5db",
            DrawerBackground = "#0a0f14",
            DrawerText = "#d1d5db",
            GrayLight = "#9ca3af",
            GrayLighter = "#e5e7eb",
            Primary = "#3b82f6",
            Secondary = "#a855f7",
            Info = "#22d3ee",
            Success = "#4ade80",
            Warning = "#facc15",
            Error = "#f87171",
            SuccessContrastText = "#064e3b",
            SuccessDarken = "#166534",
        };


}


