@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" @ref="_MudThemeProvider" @bind-IsDarkMode="_IsDarkMode" />

<MudRTLProvider RightToLeft="GlobalSettings.RightToLeft">
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <MudLayout>
        <CascadingAuthenticationState>
            <AppBar MenuOnClick="(()=>_NavMenu.DrawerToggle())" />
            <NavMenu @ref="_NavMenu" />
            <MudMainContent>
                <MudContainer MaxWidth="MaxWidth.Large" Class="pa-5">
                    @Body
                </MudContainer>
            </MudMainContent>
        </CascadingAuthenticationState>
    </MudLayout>
</MudRTLProvider>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme? _theme = null;
    private NavMenu _NavMenu;
    private MudThemeProvider _MudThemeProvider;
    bool _IsDarkMode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _IsDarkMode = await _MudThemeProvider.GetSystemPreference();
            await _MudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);
            StateHasChanged();
        }
    }

    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _IsDarkMode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        string[] boldFontFamily = { "vazir-bold" };
        _theme = new()
            {
                Typography = new Typography()
                {
                    Default = new DefaultTypography()
                    {
                        FontFamily = ["vazir-regular"]
                    },
                    H1 = new H1Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.375rem + 1.5vw)"
                    },
                    H2 = new H2Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.325rem + .9vw)"
                    },
                    H3 = new H3Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.3rem + .6vw)"
                    },
                    H4 = new H4Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "calc(1.275rem + .3vw)"
                    },
                    H5 = new H5Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "1.25rem"
                    },
                    H6 = new H6Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = "1rem"
                    },
                    Body1 = new Body1Typography
                    {
                        FontFamily = boldFontFamily,
                        FontSize = ".813rem"
                    },
                },
                PaletteLight = _lightPalette,
                PaletteDark = _darkPalette,
                LayoutProperties = new LayoutProperties()
            };
    }

    private readonly PaletteLight _lightPalette = new()
        {
            Black = "#110e2d",
            Background = "#fefcfb",
            AppbarText = "#424242",
            AppbarBackground = "rgba(255,255,255,0.8)",
            DrawerBackground = "rgba(255,255,255,0.8)",
            GrayLight = "#e8e8e8",
            GrayLighter = "#f9f9f9",
            Primary = "#029cf5",
            Secondary = "#ff7c6e",
            Info = "#2cbfc7",
            Success = "#54d169",
            Warning = "#ff8359",
            Error = "#F40B48",
        };

    private readonly PaletteDark _darkPalette = new()
        {
            Primary = "#029cf5",
            Secondary = "#ff7c6e",
            Surface = "#0c101c",
            TableStriped = "#12172b",
            TableHover = "#1f2532",
            Background = "#101524",
            BackgroundGray = "#151521",
            AppbarText = "#f2ddcc",
            AppbarBackground = "#0c101cb3",
            DrawerBackground = "#0c101cb3",
            ActionDefault = "#b3b3b3",
            ActionDisabled = "#9999994d",
            ActionDisabledBackground = "#605f6d4d",
            TextPrimary = "#f2ddcc",
            TextSecondary = "#b0b3b8",
            TextDisabled = "#ffffff33",
            DrawerIcon = "#dccabe",
            DrawerText = "#dccabe",
            GrayLight = "#2a2833",
            GrayLighter = "#353043",
            Info = "#2cbfc7",
            Success = "#54d169",
            Warning = "#ff8359",
            Error = "#F40B48",
            LinesDefault = "#33323e",
            TableLines = "#33323e",
            Divider = "#b0b3b8",
            OverlayLight = "#1e1e2d80",
        };
}


